<section data-ng-controller="EmployeesController">
  <div>
    <div class="container" id="newEmployees">
      <h1>
        New Employees
        <a href="#!/employees/create" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
          Add
        </a>
      </h1>
      <hr />
      <fieldset>
        <table class="table">
          <thead>
            <tr>
              <th>Progress</th>
              <th>Name</th>
              <th>Date</th>
              <th>Responsible</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr ng-repeat="employee in notReadyEmployees">
            <td>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" 
                     role="progressbar"
                     aria-valuenow="{{employee.checklist.progress}}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{employee.checklist.progress}}%">
                  <span class="sr-only">50% Complete</span>
                </div>
              </div>
            </td>
            <td style="width:15em">
              <a href="#!/employees/{{employee._id}}/edit">{{employee.name}}</a>
            </td>
            <td>{{employee.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{employee.responsible}}</td>
            <td>
              <a class="btn btn-primary btn-sm" href="#!/checklist/{{employee._id}}">
                <span class="glyphicon glyphicon-wrench"></span>
                Edit
              </a>
              <button type="button" class="btn btn-danger btn-sm" ng-click="remove(employee, notReadyEmployees, $index)">
                <span class="glyphicon glyphicon-fire"></span>
                Delete
              </button>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div class="container" id="readyEmployees">
      <h1>Employees ready to work! :)</h1>
      <hr />
      <fieldset>
        <table class="table">
          <thead>
            <tr>
              <th>Progress</th>
              <th>Name</th>
              <th>Date</th>
              <th>Responsible</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr ng-repeat="employee in readyEmployees">
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-success" 
                     role="progressbar"
                     aria-valuenow="{{employee.checklist.progress}}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{employee.checklist.progress}}%">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </td>
            <td style="width:15em">
              <a href="#!/employees/{{employee._id}}/edit">{{employee.name}}</a>
            </td>
            <td>{{employee.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{employee.responsible}}</td>
            <td>
              <a class="btn btn-primary btn-sm" href="#!/checklist/{{employee._id}}">
                <span class="glyphicon glyphicon-wrench"></span>
                Edit
              </a>
              <button type="button" class="btn btn-danger btn-sm" ng-click="remove(employee, readyEmployees, $index)">
                <span class="glyphicon glyphicon-fire"></span>
                Delete
              </button>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </div>
</section>