<section data-ng-controller="EmployeeController" data-ng-init="findOne()">
  <div class="container" >
    <h1>{{employee.name}}</h1>
    <div class="progress-bar progress-bar-info" 
          role="progressbar"
          aria-valuenow="{{employee.checklist.progress}}"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 10%">
      <span class="sr-only">50% Complete</span>
    </div>
    <button type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>
      Add New Task
    </button>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Task</th>
        </tr>
      </thead>
      <tr ng-repeat="step in employee.checklist.steps">
        <td style="width:10px">
          <input type="checkbox"></td>
        <td>{{step.name}}</td>
        <td>{{step.description}}</td>
        <td>{{step.isCompleted}}</td>
      </tr>
    </table>
    <button type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-save"></span>
      Save
    </button>
  </div>
</section>