<!doctype html>
<html lang="en" ng-app="checklistApp">
<head>
  <meta charset="utf-8">
  <title>Checklist App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <i class="glyphicon glyphicon-stats"></i> Dashboard
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Dropdown <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">One more separated link</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search"></div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>
  </div>
  <div class="container">
    <div ng-controller="dashboardController">
      <div class="container" id="newEmployees">
        <h1>New Employees</h1>
        <hr />
        <form>
          <fieldset>
            <table class="table">
              <thead>
                <tr>
                  <th>Progress</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Responsible</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tr ng-repeat="employee in newEmployees">
                <td>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" 
                       role="progressbar"
                       aria-valuenow="50"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: 50%">
                      <span class="sr-only">50% Complete</span>
                    </div>
                  </div>
                </td>
                <td>{{employee.name}}</td>
                <td>{{employee.date | date}}</td>
                <td>{{employee.responsible}}</td>
                <td>
                  <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-cog"></span> Edit
                  </button>
                   <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-fire"></span> Delete
                  </button>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="container" id="readyEmployees">
        <h1>Employees ready to work! :)</h1>
        <hr />
        <form>
          <fieldset>
            <table class="table">
              <thead>
                <tr>
                  <th>Progress</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Responsible</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tr ng-repeat="employee in readyEmployees">
                <td>
                  <div class="progress progress-striped active">
                    <div class="progress-bar" 
                       role="progressbar"
                       aria-valuenow="100"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: 100%">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </td>
                <td>{{employee.name}}</td>
                <td>{{employee.date | date}}</td>
                <td>{{employee.responsible}}</td>
                <td>
                  <a href="#">Edit</a>
                  <a href="#">
                    <i class="glyphicon glyphicon-fire"></i> Delete
                  </a>
                </td>
              </tr>
            </table>

          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/dashboardController.js"></script>
</body>
</html>